<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/comments/<%= id %>?_method=PATCH" method="POST">
      <section>
        <label for="username">Username:</label>
        <h3><%= username %></h3>
      </section>
      <section>
        <label for="comment">Comment:</label>
        <br />
        <textarea
          name="comment"
          id="comment"
          cols="25"
          rows="3"
          placeholder="<%= comment%>"
        ></textarea>
      </section>
      <button>Post a Comment</button>
    </form>
    <a href="/comments">Back to Comments</a>
  </body>
</html>
