<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Comment id :<%= id %></h1>
    <p><%= comment %></p>
    <a href="/comments">Go back to Comments</a>
  </body>
</html>
